.index {
	margin: 15%;
	margin-top: 5%;
}

.box {
	margin: 2%;
	margin-top: 15%;
	padding: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div {
	background-color: white;
}

h2 {
	text-align: center;
}

p {
	text-align: justify;
	font-size: 18px;
}

ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
}

ul.nav {
	font-size: 18px;
}

ul.nav li{
	float: left;
}

ul.nav li a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 18px 18px;
	margin: 2px;
}

.active{
	background-color: #444;
}

ul.nav li a:not(.active):hover{
	background-color: green;
}

ul.nav li a b{
	color: lightblue;
}

button {
	padding: 1%;
	background-color: black;
	color: white;
}

button:hover {
	padding: 1%;
	background-color: white;
	color: black;
}

#info{

}

.skill {
	display: inline-block;
	margin: 3px;
	padding: 5px;
	color:white;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactl div span{
	background-color: blue;
	text-align:center;
}

.contactl div {
	display: inline-block;
	margin: 10px;
}

body {
	background-color: #444;
}

footer p{
	color: white;
}
